<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue_project</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div id="tepia-main-hsbd-dsmxl">
      <div style="float: left;width: 100%;height: 40px;background-color: white;border-radius: 5px;">
        <div style="float: left; width: 4px; height: 100%;background-color: #0792F7;border-radius: 5px 0 0 5px;"></div>
        <div style="float: left; width: 99%; height: 40px;">
          <img style="float: left;margin: 11px 10px 0 15px;" src="./images/fxkh/search.png"/>
          <span style="float: left;margin: 10px 0 0 0;font-family: 黑体;font-weight: bold;">查询条件</span>
          <div style="float: left;height: 40px;" >
            <span style="float: left;margin: 10px 0px 0px 30px;font-family: 黑体;">关键字检索:</span>
            <el-input
              style="margin: 5px 0 0 10px;width: 120px;"
              placeholder="请输入内容"
              v-model="value1"
              size="mini"
              suffix-icon="el-icon-search">
            </el-input>
          </div>
          <div style="float: left;height: 60px;" >
            <span style="float: left;margin: 10px 0px 0px 10px;font-family: 黑体;">开始时间:</span>
            <el-date-picker
              style="margin: 5px 0 0 10px;width: 180px;"
              size="mini"
              v-model="startTime"
              type="datetime"
              placeholder="请选择开始时间">
            </el-date-picker>
          </div>
          <div style="float: left;height: 60px;" >
            <span style="float: left;margin: 10px 0px 0px 10px;font-family: 黑体;">结束时间:</span>
            <el-date-picker
              style="margin: 5px 0 0 10px;width: 180px;"
              size="mini"
              v-model="endTime"
              type="datetime"
              placeholder="请选择结束时间">
            </el-date-picker>
          </div>

          <div style="float: left;height: 40px;" >
            <el-button @click="btClick" style="margin: 5px 0 0 10px;" size="mini" type="primary">查询</el-button>
          </div>
        </div>
      </div>
      <div id="tepia-main-hsbd-dsmxl-bottom" style="float: left;width: 100%;height: 400px;background-color: white;border-radius: 5px;margin-top: 10px;box-shadow: 0 0 3px #888888;">
        <div id="tepia-main-hsbd-dsmxl-bottom-in" style="float: left;width: 100%;height: 100%;overflow: auto;">
          <table class="sybgclass" style="width:100%;border-spacing:0px 5px;text-align: center;font-size:13px;line-height: 30px;">
            <tr style="height: 35px;">
              <td style="">
                <span style="font-family:黑体;font-weight: bold;">序号</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">方案名称</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">方案类型</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">方案状态</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">模型维度</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">创建时间</span>
              </td>
              <td style="text-align:center;">
                <span style="font-family:黑体;font-weight: bold;">相关操作</span>
              </td>
            </tr>
            <tr v-for="(item,index) in tableData" @dblclick = "ondbclick(index)" :class="item.bjclass" style="height: 25px;">
              <td style="">
                <span style="font-family:黑体;">{{index+1}}</span>
              </td>
              <td style="">
                <span style="font-family:黑体;">{{item.stnm}}</span>
              </td>
              <td style="">
                <span style="font-family:黑体;">{{item.type}}</span>
              </td>
              <td style="">
                <el-button size="mini" type="success" v-if="item.end =='已完结'">{{item.end}}</el-button>
                <el-button size="mini" type="info" v-else="item.end !='已完结'">{{item.end}}</el-button>
              </td>
              <td style="">
                <el-tag size="mini" type="danger" v-if="item.admin != '三维'">{{item.admin}}</el-tag>
                <el-tag size="mini" type="success" v-else= "item.admin == '三维'">{{item.admin}}</el-tag>
              </td>
              <td style="">
                <span style="font-family:黑体;">{{item.tm}}</span>
              </td>
              <td style="">
                <el-button
                  size="mini"
                  type="primary"
                  @click="handleCheck()">输入数据
                </el-button>
                <el-button
                  size="mini"
                  type="info"
                  @click="handleDetail()">查看结果
                </el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete()">删除
                </el-button>
              </td>
            </tr>
          </table>
        </div>
        <div style="float: left;width: 100%;height: 40px;">
          <center style="margin-top: 4px;">
            <el-pagination
              size="mini"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[100, 200, 300, 400]"
              :page-size="15"
              layout="total, sizes, prev, pager, next, jumper"
              :total="1000">
            </el-pagination>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
